<div *ngIf="IsAdded" class="alert alert-success" role="alert">
  The product has been added successfully.</div>
<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card mx-4">
        <br>
        <div class="col-6 pull-left">
          <a class="btn btn-secondary btn-sm" type="Back" routerLink="">Back</a>
        </div>
        <div class="card-head p-4">
          <div class="col-sm-12 btn btn-danger">
            Product Details
          </div>
        </div>
        <div class="card-body p-4">
          <form [formGroup]="AddProduct" (ngSubmit)="onFormSubmit()">
            <div class="col-sm-12">
              <div class="card-body">
                <div class="form-group ">
                  <label class="col-sm-2 control-label" for="Name">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="Name">
                  </div>
                </div>
                <div class="form-group ">
                  <label class="col-sm-2 control-label" for="Description">Description</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Description"
                      formControlName="Description">
                  </div>
                </div>
                <div class="form-group ">
                  <label class="col-sm-2 control-label" for="Price">Price</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="Price">
                  </div>
                </div>
                <div class="form-group ">
                  <label>Upload Product Photo</label>
                  {{imageError}}
                  <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">
                      <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                      </ng-container>
                      <ng-template #elseTemplate>
                        <img src="https://www.pngarts.com/files/2/Upload-Transparent-Images.png" class="uploadimages">
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary px-10" style="margin-right:16px" type="submit">{{isEdit?'Update':'Add'}}</button>
              <button class="btn btn-success px-10" style="margin-right:16px" (click)="clearform()">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>